

body{
	font-family: 'Lora', serif;
	background-color:lightgray;
	/*border: 1px solid black;
	height: auto;
	*/
}

p {
	color:black;
	font-weight: bold;
}

h1{
	text-align: center;
	font-size: 4em;

}

img {
	width:100%;
	height:100%;

}



.section1{
	width:44.5%;
	float:left;

}

.section2{
	width:44.5%;
	float:right;

}

.section3{
	width:44.5%;
	float:left;

}

.section4{
	width:44.5%;
	float:right;


}


nav{
	list-style: none;
	text-align: center;
	border: 1px solid black;

}

.li{
	list-style: none;
	text-align: center;

}

li{
	list-style: none;
	text-align: left;

}

/* 1 em = 16 px */
/* MEDIA QUERIES */
/* tablet */
@media screen and (min-width: 500px){
	body{

	}
	
	p{

		font-size: 5em;
	}

	img{
		width:100%;
		height:100%;

	}

}



/* desktop */
@media screen and (min-width: 1050px) {
	body{

	}

	p{

		font-size: 5em;
	}

	img{
		width:100%;
		height:100%;

	}


	li {
		display:block;
	}


}



/* FOR MOBILE DEVICES*/
/* Source for different devices http://cssmediaqueries.com/target/ */
@media screen and (max-device-width: 500px) and (orientation: portrait){
	body{

	}

	p{
		font-size: 5em;
		font-weight: bold;

	}

	img{
		width:100%;
		height:100%;
	}

	li {
		display:block;
	}

}

