


.blue{
	width: 400px;
	height: 400px;
	background: blue;
}


.green{
	width: 300px;
	height: 300px;
	background: green;
	font-size: 50px;
	float: right;
}

.red{
	width: 200px;
	height: 200px;
	background: red;
	font-size: 70px;
	float: left;
}

.yellow{
	width: 100px;
	height: 100px;
	background: yellow;
	font-size: 15px;
	color: black;
	float: right;

}


p {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
}

div{
	animation-duration: 3s;
  	animation-name: slideinleft;

}

@keyframes slideinleft {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

div:click{
	background-color: orange;
	transform: scale(1.3);
} 

/*div{
	animation-duration: 3s;
  	animation-name: slideinright;

}

@keyframes slideinright {
  from {
    margin-right: 100%;
    width: 300%; 
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}*/

.slider {
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


li	{
	list-style-type: none;
	vertical-align: middle;
	text-align: all;

}

body {
	font-family:'Roboto', sans-serif;
	font-size: 100px;
	color: white;
}
